body {
    font-family: sans-serif;
    background-color: #1100ff;
}

header {
    background-color: #FF8100;
    text-align: center;
    font-family: Kelly Slab;
}

.u {
    font-size: small;
    background-color: violet;
}

img {
    width: 50%;
    height: 50%;
}

td {
    width: 50%;
    vertical-align: top;
}

footer{
    background-color: #FF8100;
    color: #1B0773;
}

a {
    background-color: cyan;
}

.a {
    font-size: small;
    background-color: #FF7373;
}

.s {
    font-size: small;
    background-color: #5CCCCC;
}

.w {
    font-size: small;
    background-color: #9FEE00;
}

.q {
    font-size: small;
    background-color: #9FEE00;
}

.d {
    font-size: small;
    background-color: #5CCCCC;
}

.z {
    font-size: small;
    background-color: #FFE500;
}

main{
    background-color: #FF8100;
}

#530FAD
